header{
    height: 650px;
}
.navBar{
    position: absolute;
width: 1347px;
height: 50px;
left: 2px;
top: 0px;
z-index: 999;
background: #F5F5F5;
border-radius: 25px 25px 0px 0px;
}
.home{
 position: absolute;
width: 140px;
left: 42px;
top: -35px;
font-family: 'Fira Code', monospace;
font-size: 36px;
line-height: 47px;
text-align: center;
color: #000000;
}

.nav_ul{ 
    padding: 0; 
    list-style: none; 
    display: table;
    
    text-align: center;
  }
  .nav_li{ 
    display: inline; 
    position: relative; 
    margin: 0 60px 0 60px;
    bottom: 55px;
    left: 250px;
  }
  .nav_a{
    color: #000000;
   font-family: 'Fira Code', monospace;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
  
    position: relative;
  }
  .nav_a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0px;
  }
  .nav_a:hover:after { 
    width: 100%; 
    left: 0;
    right: 0;
  }
  .ps5Img{
    position: absolute;
    top: 10px;
    width: 1343px;
  }
  .gradient{
    position: absolute;
    width: 1350px;
    height: 179px;
    left: 0px;
    top: 402px;
    
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(116, 116, 116, 0.258999) 66.67%, rgba(95, 95, 95, 0.326524) 99.96%, rgba(53, 53, 53, 0.464606) 99.97%, rgba(27, 27, 27, 0.547703) 99.98%, rgba(0, 0, 0, 0.635417) 99.99%, #C4C4C4 100%);
    }
.ps5Text{
      /* Sony PlayStation 5 : prix, fiche technique, test et actualité - Consoles */

  position: absolute;
  width: 569px;
  height: 74px;
  left: 719px;
  top: 156px;

  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-align: center;

  color: #000000;


      }

 
.mostRec{

position: absolute;
width: 499px;
height: 89px;
left: 52px;
top: 580px;

font-family: 'Fira Code', monospace;
font-style: normal;
font-weight: bold;
font-size: 37px;
line-height: 63px;

color: #000000;
}
.newPs5Img{
  /* XcrujDdaz4ZezjMt98eqyY-1024-80 1 */

position: absolute;
width: 425px;
height: 239px;
left: 29px;
top: 732px;


border-radius: 25px;

}



.footer{
    position: absolute;
    background-color: #F5F5F5;
    color: #958D8D;
    width: 1349px;
    height: 300px;
    left: 0;
    top: 1500px;

  }

  .plateforme{
    position: absolute;
    left: 60px;
    top: 70px;    

  }
  li{
    margin: 10px 0 10px 0;
    list-style-type: none;
    font-family: 'Fira Mono', monospace;
    font-weight: 900;
    font-size: 13px;
  }

  .plateformeT{
    position: absolute;
    bottom: 210px;
    font-family: 'Fira Mono', monospace;
    
  }
  .socialMedia{
    position: absolute;
    left: 350px;
    top: 70px;
  }
  .socialMediaT{
    position: absolute;
    bottom: 160px;
    font-family: 'Fira Mono', monospace;
    width: 150px;
  }
  .GBOX{
    
      position: absolute;
      left: 640px;
      top: 70px;
    
  }
  .termPrivacy{
    position: absolute;
    left: 930px;
    top: 50px;
  }
  .GBOXT{
    position: absolute;
    bottom: 160px;
    font-family: 'Fira Mono', monospace;
    width: 150px;
  }

.aFooter{
    text-decoration: none;
    color: #958D8D;
    transition: all .2s;
}
.aFooter:hover{
  background-color: #3A3B3C;
  color: #F5F5F5;
}

.privacy{
  position: absolute;
  top: 475px;
  width: 300px;
  color: #E5E5E1;
  left: 820px;
  font-family: 'Century Gothic';
  font-weight: 900;
  font-size: 14px;

}
.terms{
  color: #1887DD;
  text-decoration: none;
}
/* Rectangle 17 */
