input{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin: 10px 0 10px 0;
}

form{
    width: 210px;
    position: absolute;
    top: 70px;
    left: 28%;
    padding: 170px;
    background-color: #e5e5e1;
    border-radius: 50px;
}
label{
    font-family: 'Century Gothic';
    font-weight: bold;
    
}

input[type='submit']{
    font-family: 'Century Gothic';
    font-weight: bold;
    width: 100px;
    position: relative;
    top: 40px;
}
input[type='text']{
    font-family: 'Century Gothic';
    font-weight: bold;
    
}
input::placeholder{
    font-weight: bold;
    text-align: center;
}
