nav{
    background-color: #F5F5F5;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
}

.home{
 position: absolute;
width: 140px;
left: 42px;
top: -35px;
font-family: 'Fira Code', monospace;
font-weight: bold;
font-size: 36px;
line-height: 47px;
text-align: center;
color: #000000;
}

.nav_ul{ 
    padding: 0; 
    list-style: none; 
    display: table;
    
    text-align: center;
  }
  .nav_li{ 
    display: inline; 
    position: relative; 
    margin: 0 120px 0 120px;
    bottom: 40px;
    left: 250px;
  }
  .nav_a{
    color: #000000;
   font-family: 'Fira Code', monospace;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    position: relative;
  }
  .nav_a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0px;
  }
  .nav_a:hover:after { 
    width: 100%; 
    left: 0;
    right: 0;
  }
  .userConnected{
    position: absolute;
    top: 9px;
    left: 88%;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    padding: 10px 10px 10px 40px;
    border-radius: 15px;
    outline: none;
    border: transparent;
    transition: all .2s;
  }
  
  .userImg{
    position: absolute;
    top: 15px;
    left: 88.5%;
  }
  .user{
    position: absolute;
    top: 15px;
    left: 95%;
    
  }
  .userConnected:hover{
    background-color: #000000;
    color: white;
    transform: scale(1.2);
  }
  .Introduction{
      width: 1000px;
      position: absolute;
      font-family: 'Fira Code', monospace;
      left: 11%;
      top: 250px;
      background-color: #F5F5F5; 
    border-radius: 25px;   
    padding: 25px; 
    }

  .bold{
      font-weight: bold;
  }
  .redDeadDED{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
  }
  .topten{
    display: grid;
    position: absolute;
    top: 850px;
    left: 75px;
  }
  .photo{
      border-radius: 25px;
  }
  .gameArticle{
    grid-template-rows: auto;
  }
.title{
    font-family: 'Fira Code', monospace;
font-weight: bold;
font-size: 28px;
}
.Info{
    position: absolute;
    width: 500px;
    
    
   display: inline;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    list-style-type: square;
}
.Text{
    font-family: 'Fira Code', monospace;
    margin-top: 50px ;
}
.video{
    position: absolute;
    left: 65%;
    width: 345px;
    height: 193px;
    border-radius: 25px;
    
}
.footer{
  position: absolute;
  background-color: #1f1e1e;
  color: white;
  width: 100%;
  height: 300px;
  left: 0;
  top: 7800px;

}

.plateforme{
  position: absolute;
  left: 6%;
  top: 70px;    

}
li{
  margin: 10px 0 10px 0;
  list-style-type: none;
  font-family: 'Fira Mono', monospace;
  font-weight: 900;
  font-size: 13px;
}

.plateformeT{
  position: absolute;
  bottom: 210px;
  font-family: 'Fira Mono', monospace;
  
}
.socialMedia{
  position: absolute;
  left: 26%;
  top: 70px;
}
.socialMediaT{
  position: absolute;
  bottom: 160px;
  font-family: 'Fira Mono', monospace;
  width: 150px;
}
.GBOX{
  
    position: absolute;
    left: 47.4%;
    top: 70px;
  
}
.termPrivacy{
  position: absolute;
  left: 67%;
  top: 50px;
}
.GBOXT{
  position: absolute;
  bottom: 110px;
  font-family: 'Fira Mono', monospace;
  width: 150px;
}

.aFooter{
  text-decoration: none;
  color: #958D8D;
  transition: all .2s;
}
.aFooter:hover{
background-color: white;
color: black;
}

.privacy{
position: absolute;
top: 475px;
width: 300px;
color: #E5E5E1;
left: 820px;
font-family: 'Century Gothic';
font-weight: 900;
font-size: 14px;

}
.terms{
color: #1887DD;
text-decoration: none;
}
.message{
position: absolute;
top: 250px;
left: 35%;
text-align: center;
font-family: 'Fira Code', monospace;
background-color: #E5E5E1;
padding: 25px;
border-radius: 25px;
}
