@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Francois+One&display=swap');
body {
    margin: 0;
    font-family: 'Francois one','Fira Code','Centeury gothic';
    background-color: #000000;
}
p,h1,h5,h4,h2 {
  color: #FFFAFA;
}

p {
    text-indent: 50px;
}

.container h2{
    color: #050000;
}

h3{
    color:#958D8D;
}
span{
     color:#FC8C09;
}
.navBar{
    position: absolute;
  width: 100%;
  height: 50px;
  left: 2px;
  top: 0px;
  z-index: 999;
  background: #F5F5F5;
  border-radius: 25px 25px 0px 0px;
  font-weight: bold;
  }
  .anchor{
  text-decoration: none;
  color: #000000;
  }
  .home{
  position: absolute;
  width: 140px;
  left: 42px;
  top: -34px;
  font-family: 'Fira Code', monospace;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #00AE1C;
  }
  
  .nav_ul{ 
    padding: 0; 
    list-style: none; 
    display: table;
    
    text-align: center;
  }
  .nav_li{ 
    display: inline; 
    position: relative; 
    margin: 0 120px 0 120px;
    bottom: 44px;
    left: 250px;
  }
  .nav_a{
    color: #000000;
   font-family: 'Fira Code', monospace;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
  
    position: relative;
  }
  .nav_a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0px;
  }
  .nav_a:hover:after { 
    width: 100%; 
    left: 0;
    right: 0;
  }
  .userConnected{
    position: absolute;
    top: 9px;
    left: 88%;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    padding: 10px 10px 10px 40px;
    border-radius: 15px;
    outline: none;
    border: transparent;
    transition: all .2s;
    color: #000000;
  }
  
  .userImg{
    position: absolute;
    top: 15px;
    left: 88.5%;
  }
  .user{
    position: absolute;
    top: 15px;
    left: 95%;
    
  }
  .userConnected:hover{
    background-color: #000000;
    color: white;
    transform: scale(1.2);
  }
#navbar ul li{
    background-color: #F5F5F5;
    list-style:none;
    font-size:18px;
    width:14.285%;
    height:84.6px;
    text-align:center;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #F5F5F5;
    position:relative;
    bottom: 50px;
}
      
      
.end_page{
    background-color: #F5F5F5;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    cursor:pointer;
    color: #050000;
    text-decoration: none;
}

.logo{
    font-weight: bold;
    text-decoration: none;
    float:left;
}


.Hero .headline {
    font-size: 100px;
    word-spacing: 8px;
    margin:50px;
}

.Hero .smol{
    
    word-spacing: 8px;
    margin:45px;
    position: relative;
    bottom: 50px;
    text-indent: 0;
}

.rates{
    word-spacing: 8px;
    margin:50px;
    position: relative;
    bottom: 40px;
}

.banner{
    position:relative;
    bottom: 120px;
}

.TLDR{
    background-color: #444444;
    border-radius: 215px;
    margin: 20px 200px 20px 200px;
    padding:10px 200px 50px 200px;
    text-align: left;
    height: 600px;
    width:auto;
    position:relative;
    bottom:80px;
}

.TLDR h1{
    padding-left:60px;
    font-size: 45px;
    color: #FC8C09;
    font-weight: bolder;
    text-decoration: white underline;
}

.TLDR ul{
    list-style-type: disc;
    color: #FC8C09;
    size: 60px;
    position:relative;
    right:40px;
}

.TLDR .rev
{
    position:relative;
    left:30px;
}    

.TLDR tr{
    position:relative;
    left:50px;
}

.revs p{
    text-indent: 0%;
    float:inline-start;
}

table {
    border-collapse: separate;
    border-spacing: 50px 10px;
}

.heads p{
    font-size: 30px;
    
}

.heads {
    margin: 0 50px 0 50px;
    
}

.fancy p{
    color: #FFFAFA;
    margin: 50px 0 50px 0;
    padding-left:22%;
    font-size: 20px;
    letter-spacing: 5px;
}

.fancy a{
    color: #FFFAFA;
    cursor:pointer;
    text-decoration-line: underline;
}

.fancy ul li{
    list-style-type: white disc;
    color: #FFFAFA;
}

.heads p{
   padding-bottom: 40px;
}

.specs{
    width: 1200px;
    height:auto;
    padding-left: 10%;
}

.video {
    padding-top: 2%;
    padding-left: 15%;
}

.sale {
    background-color: #FFFFFF;
    padding:20px 0 0 100px;
    margin: 100px;
}

.sale h4{
    color: #050000;
    letter-spacing: 4px;
    font-size: 25px;
}

.sale .today{
    padding-left:60px;
}

.sale h5{
    color: #050000;
}

.sale table{
    
    border-collapse: separate;
    border-spacing: 100px 10px;
}
.end p{
    font-size:20px;
    color: #958D8D;
    position: relative;
    right:55px;
}
  
.end a{
    font-size:15px;
    
    color: #958D8D;
} 

.end{
    width:100%;
    padding-bottom: 20px;
}

.end td{
    padding-left:50px;
}

.Copyright{
    color: #958D8D;
    text-align: center;
}

.Platforms{
    position:relative;
    top: 21px;
}.footer{
    position: absolute;
    background-color: #1f1e1e;
    color: white;
    width: 100%;
    height: 300px;
    left: 0;
    top: 7000px;
  
  }
  
  .plateforme{
    position: absolute;
    left: 6%;
    top: 70px;    
  
  }
  li{
    margin: 10px 0 10px 0;
    list-style-type: none;
    font-family: 'Century Gothic';
    font-weight: 900;
    font-size: 13px;
  }
  
  .plateformeT{
    position: absolute;
    bottom: 210px;
    font-family: 'Century Gothic';
    font-weight: 900;
    color: white;

  }
  .socialMedia{
    position: absolute;
    left: 26%;
    top: 70px;
  }
  .socialMediaT{
    position: absolute;
    bottom: 160px;
    font-family: 'Century Gothic';
    width: 150px;
    font-weight: 900;
    color: white;

  }
  .GBOX{
    
      position: absolute;
      left: 47.4%;
      top: 70px;
    
  }
  .termPrivacy{
    position: absolute;
    left: 67%;
    top: 50px;
  }
  .GBOXT{
    position: absolute;
    bottom: 110px;
    font-family: 'Century Gothic';
    width: 150px;
    font-weight: 900;
    color: white;
  }
  
  .aFooter{
    text-decoration: none;
    color: #958D8D;
    transition: all .2s;
  }
  .aFooter:hover{
  background-color: white;
  color: black;
  }
  
  .privacy{
  position: absolute;
  top: 475px;
  width: 300px;
  color: #E5E5E1;
  left: 820px;
  font-family: 'Century Gothic';
  font-weight: 900;
  font-size: 14px;
  
  }
